<div class="container login">
  <div class="logo">Footprints</div>
  <%= link_to 'Sign in with Google',user_google_oauth2_omniauth_authorize, :class => 'button primary' %>
  <%= link_to 'Create a New Google Account', 'https://accounts.google.com/SignUpWithoutGmail', :class => 'button secondary' %>
</div>
<!-- Delete? -->
<%# <%= link_to 'Sign in with Google', '/auth/google_oauth2' %>

<%# <%= link_to 'Create a new Google account', 'https://accounts.google.com/SignUpWithoutGmail' %>

